.card {
  margin-right: 10rem;
  margin-top: 5rem;
  font-size: 2rem;
  width: max-content;
  border: none;
}

.card-text {
  color: #471313;
  padding-bottom: 2rem;
  text-shadow: 2px 2px 2px #faf2a8;
}

.card-title {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
  text-shadow: 2px 2px 2px #ffffff;
}

.razorpay-button {
  border-color: #471313;
  box-shadow: 2px 2px 8px #5a4848;
}
